$Dance: rgb(89, 255, 122);
$Electronic: rgb(89, 249, 255);
$Rock: rgb(89, 111, 255);
$Pop: rgb(240, 65, 164);
$Classical: rgb(204, 166, 255);

#Skrillex-SMaNS {
    background-color: $Dance;
    top: 100px;
    left: 1000px;
}
#Aphex-AB {
    background-color: $Electronic;
    top: 800px;
    left: 1000px;
}
#Deadmau5-Strobe {
    background-color: $Electronic;
    top: 700px;
    left: 800px;
}
#Daft-Voyager {
    background-color: $Electronic;
    top: 800px;
    left: 900px;
}
#Nirvana-Lithium {
    background-color: $Rock;
    top: 120px;
    left: 100px;
}
#Metallica-MoP {
    background-color: $Rock;
    top: 100px;
    left: 100px;
}
#Bowie-LoM {
    background-color: $Rock;
    top: 600px;
    left: 400px;
}
#Pink-WYWH {
    background-color: $Rock;
    top: 750px;
    left: 500px;
}
#Debussy-PttAoaF {
    background-color: $Classical;
    top: 800px;
    left: 300px;
}
#Bach-Air {
    background-color: $Classical;
    top: 800px;
    left: 100px;
}
