body {
    font-family: sans-serif;
}

h1 {
    position: absolute;
    left: 100;
    top: 10;
    font-weight: 300;
}

.song-bubble {
    position: absolute;
    border: 3px solid black;
    border-radius: 15px;
    padding: 3px 3px 3px 3px;
}

/* Default don't show expanded */
.song-bubble {
    .expanded {
        display: none;
    }
}

/* Only show expanded when hovering */
.song-bubble:hover {
    .default {
        display: none;
    }
}

.song-bubble:hover {
    .expanded {
        display: inline;
    }
}

